p
    white-space: pre-line
mat-card-actions button
    margin-right: 8px

mat-card-header
    display: flex
    align-items: center
    margin-bottom: 5px
    mat-card-title
        margin: 0
    .date
        color: rgba(0, 0, 0, 0.5)

mat-card-content
    font-size: 15px
    margin: 0

mat-icon
    font-size: 22px
    text-shadow: 0 1px 1px #696969

.dislike-icon-active
    color: yellow

.like-icon-active
    color: red

.icon-not-active
    color: grey

.mat-card
    margin: 0 -16px
    padding-left: 35px
    border-radius: 0
    background: #e8f5ff40
    box-shadow: none
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    font-size: 14px

.mat-card-avatar 
    height: 30px
    width: 30px

.mat-card-title
    font-size: 17px

.mat-card-actions
    width: 100%
    margin-top: 10px
    padding: 0
    display: flex
    justify-content: space-between

.mat-card-content
    margin-top: 10px
    
.mat-icon
    font-size: 15px

.round-backgrounded
    width: 34px
    height: 34px
    margin-right: -8px !important
    background-color: blue
    border: 3px solid white
    border-radius: 50%

.reactions-button-icon
    font-size: 14px
    position: relative
    top: -7px

.reactions-buttons-container
    display: flex
    flex-direction: row-reverse
    justify-content: flex-start
