<mat-card *ngIf="comment">
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>

  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>

  <mat-card-actions>
    <div class="reactions-buttons-container">
      <button mat-icon-button class="like-icon-active round-backgrounded" matTooltip="Show who liked" 
      *ngIf="likeReactionsCount !== 0" (click)="openLikedUsersListDialog()">
        <mat-icon class="reactions-button-icon" matBadge="{{likeReactionsCount}}" matBadgeColor="accent" matBadgeSize="small"
          [matBadgeHidden]="likeReactionsCount === 0" aria-label="Like">favorite</mat-icon>
      </button>
      <button mat-icon-button class="dislike-icon-active round-backgrounded" matTooltip="Show who disliked" *ngIf="dislikeReactionsCount !== 0" (click)="openDislikedUsersListDialog()">
        <mat-icon class="reactions-button-icon" matBadge="{{dislikeReactionsCount}}" matBadgeColor="accent" matBadgeSize="small" mat
          [matBadgeHidden]="dislikeReactionsCount === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button [ngClass]="isDislikedByCurrentUser ? 'dislike-icon-active' : 'icon-not-active'" *ngIf="!isCurrentUsersComment" (click)="dislikeComment()">
        <mat-icon aria-label="Dislike">thumb_down_alt</mat-icon>
      </button>
      <button mat-icon-button [ngClass]="isLikedByCurrentUser ? 'like-icon-active' : 'icon-not-active'" *ngIf="!isCurrentUsersComment" (click)="likeComment()">
        <mat-icon aria-label="Like">favorite</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isCurrentUsersComment" color="primary" (click)="openEditCommentBodyDialog()" onclick="this.blur();">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isCurrentUsersComment" color="primary" (click)="openDeleteCommentConfirmationDialog()" onclick="this.blur();">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
