﻿@using Thread_.NET.ReusableUI.Areas.Emails.ResetPassword;
@using Thread_.NET.ReusableUI.Areas.Shared.EmailButton
@model ResetPasswordEmailViewModel

@{
    ViewData["EmailTitle"] = $"Hello {@Model.User.UserName.Substring(0, 1).ToUpper() + @Model.User.UserName.Substring(1)}!";
}

<p style="margin: 18px 20px 25px 20px; font-size: 18px; line-height: 1.25; color: #333333">
    There was made a password resset request at Thread .NET<br />
    If it was you push the button bellow for redirecting to the reset password page, if no inform us, please
</p>

@await Html.PartialAsync("EmailButton/EmailButton", new EmailButtonViewModel("Go To Password Reset Page", @Model.ResetPasswordUrl))

