<h2 mat-dialog class="title">{{title}}</h2>

<div mat-dialog-content>{{message}}</div>

<form name="sharePostForm" #textEditedForm="ngForm" class="main-content">

  <div *ngIf="inEmail.invalid && inEmail.touched">
    <mat-error *ngIf="inEmail.errors.required">
      Email is required
    </mat-error>
    <mat-error *ngIf="inEmail.errors.email">
      Invalid email
    </mat-error>
  </div>
  <mat-form-field>
    <input name="authEmail" [(ngModel)]="receiverEmail" #inEmail="ngModel" placeholder="Email" matInput required email>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button (click)="close()">{{negativeButtonText}}</button>
    <button mat-raised-button color="primary" 
    [disabled]="textEditedForm.invalid"
    (click)="onConfirm()">{{positiveButtonText}}</button>
  </div>

</form>

