.title
    text-align: center
    font-weight: 500

.main-content
    display: flex
    justify-content: center
    flex-direction: column

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.mat-dialog-content
    padding: 24px