.header
    display: flex
    justify-content: space-between
    width: 100% 
    height: 100% 
    
.header-content
    display: flex
    justify-content: center
    flex-direction: row
    align-items: center
    height: 100%
    cursor: pointer
    &:focus
        outline: none

.auth-area
    font-size: 13px
    cursor: default
    p
        margin: 0 5px
        cursor: pointer

.title
    cursor: pointer
    img
        height: 100%

.main-content
    margin: 0 30%

.avatar-size
    width: 40px
    height: 40px

.user-area
    line-height: normal
    font-size: 13px
    margin-left: 5px
    &:focus
        outline: none
    div
        width: fit-content
        margin: 3px 0

@media only screen and (max-width: 768px)
    .main-content
        margin: 0 30px