<mat-card class="post-create-container" *ngIf="currentUser && showPostContainer">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <form name="newPostForm" #newPostForm="ngForm">
    <mat-card-content>

      <div *ngIf="newPostForm.invalid && bodyText.touched">
        <mat-error *ngIf="bodyText.errors.required">
          Post text required
        </mat-error>
        <mat-error *ngIf="bodyText.errors.pattern">
          Post text can't be empty
        </mat-error>
      </div>
      <mat-form-field>
        <textarea name="body" [(ngModel)]="post.body" #bodyText="ngModel" matInput placeholder="Write something..." required
          cdkTextareaAutosize maxlength=1000 [pattern]="bodyTextPattern">
        </textarea>
      </mat-form-field>

      <div *ngIf="imageInputValidationError">
        <mat-error [ngClass]="{'not-active-mat-error': !shouldImageErrorBeActive}">
            {{imageInputValidationError}}
        </mat-error>
      </div>
      <div class="image-container">
        <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
        <img mat-card-image class="post-image" *ngIf="imageUrl" mat-card-image src="{{imageUrl}}" alt="Photo">
      </div> 
    </mat-card-content>

    <mat-card-actions align="end">
      <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
      <button mat-icon-button color="accent" (click)="file.click()">
        <mat-icon aria-label="Choose an image">image</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Post it" (click)="sendPost()"  
      [disabled]="newPostForm.invalid || imageInputValidationError">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </mat-card-actions>
  </form> 
</mat-card>

<mat-toolbar *ngIf="!currentUser">
  <p class="link" (click)="openAuthDialog()">Want to post? Sign in</p>
</mat-toolbar>

<mat-card class="posts-container">
  <div *ngIf="loadingPosts" class="mat-spinner-wrapper posts-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="main-thread">
    <div class="main-actions" *ngIf="currentUser">
      <button mat-raised-button matTooltipPosition="above" matTooltip="Write a post" (click)="toggleNewPostContainer()">
        <mat-icon color="accent">add_comment</mat-icon>
      </button>
      <div class="posts-filter" [matMenuTriggerFor]="menu">
        <div class="current-post-filter">{{currentPostFilterName}}</div>
          <button mat-raised-button  matTooltipPosition="above" matTooltip="Filter">
            <mat-icon color="accent">filter_list</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <div *ngFor="let _filterItem of postFilterMenuItems">
              <div *ngIf="currentPostFilter !== _filterItem.filterType" mat-menu-item (click)="filterPosts(_filterItem.filterType)">
                {{_filterItem.name}}
              </div>
            </div>
          </mat-menu>
      </div>
    </div> 

    <mat-toolbar *ngIf="posts.length === 0 && !loadingPosts">
      <p class="no-content">There is nothing</p>
    </mat-toolbar>
    
    <div class="infinite-scroll-container"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()">
      <div *ngFor="let _post of posts" class="user-post">
        <app-post [post]="_post" [currentUser]="currentUser"></app-post>
      </div>
    </div>
  </div>
</mat-card>
