<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>

<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content" novalidate autocomplete="off">

    <div *ngIf="data.dialogType === dialogType.SignUp">
      <div *ngIf="upNickname.invalid && upNickname.touched">
        <mat-error *ngIf="upNickname.errors.required">
          Username is required
        </mat-error>
        <mat-error *ngIf="upNickname.errors.minlength">
          Minimum Username length - {{upNickname.errors.minlength.requiredLength}} characters.<br>
          Actual length - {{upNickname.errors.minlength.actualLength}} characters
        </mat-error>
        <mat-error *ngIf="upNickname.errors.pattern">
          Username must contain only characters, digits, and white-spaces
        </mat-error>
      </div>
      <mat-form-field>
        <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" placeholder="Username" matInput required
          minlength=3 maxlength=100 [pattern]="usernamePattern">
      </mat-form-field>
    </div>

    <div *ngIf="inEmail.invalid && inEmail.touched">
      <mat-error *ngIf="inEmail.errors.required">
        Email is required
      </mat-error>
      <mat-error *ngIf="inEmail.errors.email">
        Invalid email
      </mat-error>
    </div>
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" placeholder="Email" matInput required email>
    </mat-form-field>
    
    <div  *ngIf="data.dialogType !== dialogType.ResetPassword">
      <div *ngIf="upPassword.invalid && upPassword.touched">
        <mat-error *ngIf="upPassword.errors.required">
          Password is required
        </mat-error>
        <mat-error *ngIf="upPassword.errors.minlength">
          Minimum Password length - {{upPassword.errors.minlength.requiredLength}} characters.<br>
          Actual length - {{upPassword.errors.minlength.actualLength}} characters
        </mat-error>
        <mat-error *ngIf="upPassword.errors.pattern">
          Password must contain only characters, digits and symbols(&#33;&#64;&#35;&#36;&#37;&#94;&#38;&#42;&#40;&#41;&#95;&#91;&#93;&#123;&#125;&#44;&#46;&#60;&#62;&#61;&#43;&#45;)
        </mat-error>
      </div>
      <mat-form-field>
        <input 
          name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput 
          required minlength=4 maxlength=18 placeholder="Password" [pattern]="passwordPattern"
          [type]="hidePass ? 'password' : 'text'" 
          [autocomplete]="data.dialogType === dialogType.SignUp ? 'new-password' : 'on'">
        <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
  </form>
  <button *ngIf="data.dialogType === dialogType.SignIn" class="bare-text-button" (click)="changeToResetPasswordForm()">Forgot password?</button>
</div>

<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button mat-raised-button color="primary"
    [disabled]="authForm.invalid"
    (click)="doPositiveButtonAction()">{{title}}</button>
</div>
