mat-icon
    font-size: 18px !important

mat-icon
    cursor: default

mat-error
    max-width: 100%
    font-size: 12px

button
    a
        color: rgba(0, 0, 0, 0.87)
        text-decoration: none

.main-content
    display: flex
    justify-content: center
    flex-direction: column
    width: 100%
    margin: 10px 0    
    position: relative

.align-center
    align-items: center

.buttons
    display: flex
    width: 100%
    justify-content: space-around
    button
        width: 100px

.img-text
    transition: .5s ease
    opacity: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    text-align: center
    cursor: pointer
    font-size: 24px
    color: #7f7f7f

.mat-spinner-wrapper 
    margin: -16px

.page-error
    p
        font-size: 36px
    a
        font-size: 20px