<mat-card *ngIf="showResetPasswordForm" class="main-content align-center">

    <form name="resetPasswordForm" #resetPasswordForm="ngForm" class="main-content">
        <div *ngIf="inEmail.invalid && inEmail.touched">
            <mat-error *ngIf="inEmail.errors.required">
              Email is required
            </mat-error>
            <mat-error *ngIf="inEmail.errors.email">
              Invalid email
            </mat-error>
        </div>
        <mat-form-field>
        <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" placeholder="Email" matInput required email>
        </mat-form-field>
            <!-- reset password -->
        <div *ngIf="resetPasswordField.invalid && resetPasswordField.touched">
        <mat-error *ngIf="resetPasswordField.errors.required">
            Password is required
        </mat-error>
        <mat-error *ngIf="resetPasswordField.errors.minlength">
            Minimum Password length - {{resetPasswordField.errors.minlength.requiredLength}} characters.<br>
            Actual length - {{resetPasswordField.errors.minlength.actualLength}} characters
        </mat-error>
        <mat-error *ngIf="resetPasswordField.errors.pattern">
            Password must contain only characters, digits and symbols(&#33;&#64;&#35;&#36;&#37;&#94;&#38;&#42;&#40;&#41;&#95;&#91;&#93;&#123;&#125;&#44;&#46;&#60;&#62;&#61;&#43;&#45;)
        </mat-error>
        </div>
        <mat-form-field>
        <input 
            name="resetPassword" [(ngModel)]="resetPassword" #resetPasswordField="ngModel" matInput 
            required minlength=4 maxlength=18 placeholder="Password" [pattern]="passwordPattern"
            [type]="hidePass ? 'password' : 'text'" 
            [autocomplete]="'new-password'">
        </mat-form-field>
            <!-- confirm-reset-password -->
        <div *ngIf="confirmResetPasswordField.invalid && confirmResetPasswordField.touched">
            <mat-error *ngIf="confirmResetPasswordField.errors.required">
                Confirm password is required
            </mat-error>
            <mat-error *ngIf="confirmResetPasswordField.errors.minlength">
                Minimum Password length - {{confirmResetPasswordField.errors.minlength.requiredLength}} characters.<br>
                Actual length - {{confirmResetPasswordField.errors.minlength.actualLength}} characters
            </mat-error>
            <mat-error *ngIf="confirmResetPasswordField.errors.pattern">
                Password must contain only characters, digits and symbols(&#33;&#64;&#35;&#36;&#37;&#94;&#38;&#42;&#40;&#41;&#95;&#91;&#93;&#123;&#125;&#44;&#46;&#60;&#62;&#61;&#43;&#45;)
            </mat-error>
        </div>
        <mat-form-field>
            <input 
                name="confirmResetPassword" [(ngModel)]="confirmResetPassword" #confirmResetPasswordField="ngModel" matInput 
                required minlength=4 maxlength=18 placeholder="Confirm password" [pattern]="passwordPattern"
                [type]="hidePass ? 'password' : 'text'" 
                    [autocomplete]="'new-password'">
            <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
    </form>
    
    <div class="buttons">
        <button mat-raised-button>
            <a href="/">Home</a>
        </button>
        <button mat-raised-button color="primary" 
        [disabled]="resetPasswordForm.invalid || resetPassword !== confirmResetPassword"
        (click)="saveNewPassword()">
            Save
        </button>
    </div>
</mat-card>

<div class="page-error" *ngIf="showError">
    <p>Error: access denied!</p>
    <a href="/">Go Home</a>
</div>
  