<h2 mat-dialog class="title">Edit {{editedEntityName.toLowerCase()}} text</h2>

<form name="textEditedForm" #textEditedForm="ngForm" class="main-content">
  <div *ngIf="bodyEditedText.invalid">
    <mat-error *ngIf="bodyEditedText.errors.required">
      {{editedEntityName}} text is required
    </mat-error>
    <mat-error *ngIf="bodyEditedText.errors.pattern">
      {{editedEntityName}} text can't be empty
    </mat-error>
  </div>
  <textarea name="message" [(ngModel)]="bodyText" #bodyEditedText="ngModel" cdkTextareaAutosize class="edited-text"
    cdkAutosizeMinRows=6 required maxlength="bodyTextMaxLength" [pattern]="bodyTextPattern">
  </textarea>
  
  <div class="actions">
    <button mat-raised-button (click)="close()">{{negativeButtonText}}</button>
    <button mat-raised-button color="primary" 
    [disabled]="textEditedForm.invalid"
    (click)="onConfirm()">{{positiveButtonText}}</button>
  </div>
</form>
