<mat-card *ngIf = "post" [ngClass]="{'post-with-comments': showComments}">

  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>

  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">

  <mat-card-content> 
    <p>{{post.body}}</p>
  </mat-card-content>

  <mat-card-actions class="actions-buttons">
    <div class="reactions-buttons-container">
      <button mat-icon-button class="like-icon-active round-backgrounded" matTooltip="Show who liked" *ngIf="likeReactionsCount !== 0" (click)="openLikedUsersListDialog()" onclick="this.blur();">
        <mat-icon class="reactions-button-icon" matBadge="{{likeReactionsCount<100?likeReactionsCount:'99+'}}" matBadgeColor="accent" matBadgeSize="small"
          [matBadgeHidden]="likeReactionsCount === 0" aria-label="Like">favorite</mat-icon>
      </button>
      <button mat-icon-button class="dislike-icon-active round-backgrounded" matTooltip="Show who disliked" *ngIf="dislikeReactionsCount !== 0" (click)="openDislikedUsersListDialog()" onclick="this.blur();">
        <mat-icon class="reactions-button-icon" matBadge="{{dislikeReactionsCount<100?dislikeReactionsCount:'99+'}}" matBadgeColor="accent" matBadgeSize="small" mat
          [matBadgeHidden]="dislikeReactionsCount === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button [ngClass]="isDislikedByCurrentUser ? 'dislike-icon-active' : 'icon-not-active'" *ngIf="!isCurrentUsersPost" (click)="dislikePost()" onclick="this.blur();">
        <mat-icon aria-label="Dislike">thumb_down_alt</mat-icon>
      </button>
      <button mat-icon-button [ngClass]="isLikedByCurrentUser ? 'like-icon-active' : 'icon-not-active'" *ngIf="!isCurrentUsersPost" (click)="likePost()" onclick="this.blur();">
        <mat-icon aria-label="Like">favorite</mat-icon>
      </button>
      <div class="mat-menu-wrapper" [matMenuTriggerFor]="menu">
        <button mat-icon-button color="accent" matTooltipPosition="above" matTooltip="Share post" onclick="this.blur();">
          <mat-icon aria-label="Share">share</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <div mat-menu-item>
              <a href="{{sendLinkHref}}">Send link by email</a>
            </div>
            <div mat-menu-item (click)="openSendPostByEmailDialog()">Send post by email</div>
        </mat-menu>
      </div>
      <button mat-icon-button [ngClass]="(post.comments.length===0) ? 'icon-not-active' : 'basic'" (click)="toggleComments()" onclick="this.blur();">
        <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
          [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isCurrentUsersPost" color="primary" (click)="openEditPostBodyDialog()" onclick="this.blur();">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button float="right" *ngIf="isCurrentUsersPost" color="primary" (click)="openDeletePostConfirmationDialog()" onclick="this.blur();">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
  
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [post]="post" [currentUser]="currentUser"></app-comment>
  </div>
</mat-card>
