p
    white-space: pre-line
    
mat-card-actions button
    margin-right: 8px

mat-card-header
    display: flex
    align-items: center
    margin-bottom: 5px
    mat-card-title
        margin: 0
    .date
        color: rgba(0, 0, 0, 0.5)

mat-card-content
    margin: 0
    font-size: 15px

mat-icon
    font-size: 22px
    text-shadow: 0 1px 1px #696969

.mat-menu-item
    a
        color: rgba(0, 0, 0, 0.87)
        text-decoration: none

.actions-buttons
    display: flex
    justify-content: space-between
    width: 100%

.comments-count
    width: 100%
    margin-bottom: 5px
    text-align: center
    color: rgba(0, 0, 0, 0.5)

.dislike-icon-active
    color: yellow

.icon-not-active
    color: grey

.like-icon-active
    color: red

.mat-badge-content
    font-size: 10px

.new-comment
    display: flex
    flex-direction: row
    align-items: center
    width: 100%
    padding: 20px 0
    .mat-form-field
        width: 100%

.post-with-comments
    padding-bottom: 0

.reactions-button-icon
    font-size: 16px
    position: relative
    top: -4px

.reactions-buttons-container
    display: flex
    flex-direction: row-reverse
    justify-content: flex-start

.round-backgrounded
    margin-right: -8px !important
    background-color: blue
    border: 3px solid white
    border-radius: 50%

.mat-menu-wrapper
    display: inline-block
