﻿@using Thread_.NET.ReusableUI.Areas.Emails.SharedViewModels;
@using Thread_.NET.ReusableUI.Areas.Shared.EmailPost;
@model PostEmailViewModel

@{
    ViewData["EmailTitle"] = $"Hi there!";
}

<div style="display: flex;">
    <img src="@Model.LikedUserAvatarUrl" alt="@Model.User.UserName avatar" style="display: block; height: 60px; width: 60px; object-fit: cover; font-family: 'Lato', Helvetica, Arial, sans-serif; color: #ffffff; font-size: 18px; border: 0; border-radius: 50%" />
    <span style="margin: 10px 0 0 20px; font-size: 20px; line-height: 1; color: #333333">@Model.User.UserName.Substring(0, 1).ToUpper()@Model.User.UserName.Substring(1) with email - @Model.User.Email has shared following post with you</span>
</div>

@await Html.PartialAsync("EmailPost/EmailPost", new EmailPostViewModel(@Model.Post))

@section Navigation{
    <tr>
        <td bgcolor="#f4f4f4" align="left" style="padding: 0; font-family: 'Lato', Helvetica, Arial, sans-serif; line-height: 18px;">
            <p style="margin: 0 0 20px 0;">
                <a href="http://localhost:4200/posts/?postId=@Model.Post.Id" target="_blank" style="color: #333333; font-weight: 700;">Go to the post on the site  &#10140;</a>
            </p>
        </td>
    </tr>
}