/* You can add global styles to this file, and also import other style files */

html,
body
    height: 100%
    margin: 0
    font-family: 'Roboto', sans-serif
    font-size: 16px
    word-break: break-word

.dialog-backdrop
    background: rgba(255, 255, 255, 0.5)

.avatar
    border-radius: 50%
    flex-shrink: 0
    object-fit: cover
    cursor: pointer      
    &:focus
        outline: none
    font-size: 12px

snack-bar-container
    white-space: pre-wrap
    &.error-snack-bar 
        background: #a90707
        text-align: center
    &.usual-snack-bar 
        background: #008750
        text-align: center
    & span
        width: 100%

img
    font-size: 13px

.mat-spinner-wrapper 
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    z-index: 1002
    background-color: rgba(255, 255, 255, 0.5)
    width: 100%
    height: 100%

.toast-message-container
    position: relative
    width: 400px
    margin: 0 0 6px
    padding: 15px 15px 15px 20px
    overflow: hidden
    border-radius: 3px
    box-shadow: 0 0 12px #999999
    color: #ffffbf
    background: #8899aa
    pointer-events: all