﻿@using  Thread_.NET.ReusableUI.Areas.Shared.EmailPost
@model EmailPostViewModel

<div style="box-sizing: border-box; width: 100%; min-height: 100px; margin-top: 20px; padding: 16px 0; border-radius: 4px; border: 1px solid #d0d0d0">
    <div style="display: flex; margin-bottom: 10px;">
        <img src="@Model.Post.Author.Avatar" alt="@Model.Post.Author.UserName avatar" style="box-sizing: border-box; display: block; height: 40px; width: 40px; margin: 0 0 0 20px; object-fit: cover; font-family: 'Lato', Helvetica, Arial, sans-serif; color: #ffffff; font-size: 18px; border: 0; border-radius: 50%" />
        <span style="margin: 5px 0 0 20px; font-size: 18px; color: #111111">@Model.Post.Author.UserName.Substring(0, 1).ToUpper()@Model.Post.Author.UserName.Substring(1)</span>
        <span style="margin: 5px 20px 0 20px; font-size: 18px; color: #333333">@Model.Post.CreatedAt</span>
    </div>
    <img src="@Model.Post.PreviewImage" style="width: 100%;"/>
    <p style="margin: 5px 0 0 20px; font-size: 16px; line-height: 1.2; color: #111111">@Model.Post.Body</p>
</div>