button
    outline: none
    border: none
    background: none
    padding: 0 0 0 20px
    cursor: pointer
    span
        font-size: 24px
        line-height: 0
        color: rgba(0, 0, 0, 0.6)

mat-list.mat-list.mat-list-base
    overflow-y: auto
    max-height: 70vh

mat-divider
    margin: 10px -24px 0 -24px
    
.title
    display: inline
    margin: 10px 0 !important
    text-align: left
    font-weight: 500
    font-size: 20px

.list-item-text
    padding-left: 16px
    font-size: 20px

.close
    float: right

.mat-dialog-container
    padding: 15px !important
