<h2 mat-dialog class="title">{{title}}</h2>

<button type="button" class="close" aria-label="Close" (click)="close()"><span aria-hidden="true">&times;</span></button>

<mat-divider></mat-divider>

<mat-list>
    <mat-list-item *ngFor="let _reaction of reactions">
        <img mat-list-avatar src="{{_reaction.user.avatar}}" alt="Avatar">
        <p class="list-item-text">{{_reaction.user.userName}}</p>
    </mat-list-item>
</mat-list>
